Assignment5&6/Connected Services/EncryptionServiceReference/EncryptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://assignment5_6.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://assignment5_6.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://assignment5_6.org/">
      <s:element name="HashString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HashStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HashStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HashStringSoapIn">
    <wsdl:part name="parameters" element="tns:HashString" />
  </wsdl:message>
  <wsdl:message name="HashStringSoapOut">
    <wsdl:part name="parameters" element="tns:HashStringResponse" />
  </wsdl:message>
  <wsdl:portType name="EncryptionServiceSoap">
    <wsdl:operation name="HashString">
      <wsdl:input message="tns:HashStringSoapIn" />
      <wsdl:output message="tns:HashStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EncryptionServiceSoap" type="tns:EncryptionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HashString">
      <soap:operation soapAction="http://assignment5_6.org/HashString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EncryptionServiceSoap12" type="tns:EncryptionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HashString">
      <soap12:operation soapAction="http://assignment5_6.org/HashString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EncryptionService">
    <wsdl:port name="EncryptionServiceSoap" binding="tns:EncryptionServiceSoap">
      <soap:address location="https://localhost:44345/EncryptionService.asmx" />
    </wsdl:port>
    <wsdl:port name="EncryptionServiceSoap12" binding="tns:EncryptionServiceSoap12">
      <soap12:address location="https://localhost:44345/EncryptionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>